* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); */
  /* background: linear-gradient(to right, #eb5757, #000000); */
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
}

form button {
  color: green;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

form button:hover {
  background: lightgreen;
  color: #fff;
}

select {
  appearance: none;
  outline: none;
  border: none;
  color: #fff;
  width: 7.5rem;
  cursor: pointer;
  padding: 1.2rem;
  background: #eb5757;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
  border-radius: 3px;
  background: lightcyan;
}

.select select {
  background: green;
  border-radius: 3px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-check-double,
.fa-trash-alt {
  pointer-events: none;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.todo li {
  padding-right: 8rem;
  font-weight: bold;
}

.delete-btn,
.complete-btn {
  background: #eb5757;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.delete-btn {
  background: red;
  transition: all 0.3s ease-out;
}
.delete-btn:hover {
  padding: 0.4rem;
}

.complete-btn {
  background: green;
  transition: all 0.3s ease-out;
}
.complete-btn:hover {
  padding: 0.4rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

h1 span {
  text-decoration: line-through;
}
